@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import "tailwindcss";

/* Default font */
body {
  font-family: Poppins, sans-serif;
}
.checkout-input {
  width: 100%;
  border-bottom: 1px solid #e5e7eb; 
  padding: 0.75rem 0;
  font-size: 13px;
  outline: none;
  transition: border-color 0.2s;
  background: transparent;
}

.checkout-input:focus {
  border-color: #000000;
}